i{
    font-size: 28px;
}
button,i{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
}
.row{ 
    padding-top: 10px;
    margin-top: 10px;
}

ul.nav,ul.nav li.nav-item a{
    border: 0px;
    padding-right: 1%;
}
ul.nav,ul.nav li.nav-item a i{
    justify-content: end;
}
#pic .d-grid ,#multi-pic .container{
    margin-top: 25px;
}
.row .col-9{
    margin-left: 20px;
}
.image-body img{
    width: 496px;
    height: 300px;
    object-fit: fill;
    margin-left: 2px;
    margin-top: 2px;
}
